.login-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgb(244, 232, 14);
    padding: 70px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmxQXnZmx6_4HMYFgsm5_Bu-RZsat4B9TjdIUoRZeWi35Kdz0sMOakl67xwMJpQbFie2w&usqp=CAU');
    background-size: cover;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    justify-content: center;
  }
  
  .form-control {
    margin: 0 5px;
    height: 50px;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
  }

  input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #007bff;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background-color: #50d900;
  }