<div class="login-container">
    <h1>Login</h1>
    <form #form="ngForm" (ngSubmit)="form.valid&&onsubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required #username="ngModel" [(ngModel)]="data.username">
        <label style="font-size: 16px; color: red;" *ngIf="form.submitted && username.errors?.['required']">Username is required</label>

      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        <label style="font-size: 16px; color: red;" *ngIf="form.submitted && username.errors?.['required']">Password is required</label>
      </div>
      
      <div class="link-container">
        <a routerLink="/register" class="link" style="text-decoration: none; color: rgba(255, 255, 0, 0.893);">Not a User?</a>
        <a routerLink="/forgot" class="link" style="text-decoration: none; color: rgba(255, 255, 0, 0.893);">Forgot Password?</a>
      </div>
      
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
