/* body {
  background-image: url('https://a-static.besthdwallpaper.com/landscape-mountain-minimalist-wallpaper-2560x2048-81092_33.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */
/* You can add global styles to this file, and also import other style files */
